
body {
    min-height: 100vh;

    background: -webkit-linear-gradient(left, #ffb556, #ffa94d);
  }

#satu{
    color: black;
    text-decoration: none;
}

#satu:hover{
    color: #ffa94d;
}